<h2>All Tools</h2>
<table class = "table table-responsive">
  <!-- <thead>
  </thead> -->
  <tbody>
    <% @tools.each do |tool| %>
          <tr>
            <td><%= tool.name %></td>
            <td><%= tool.quantity %></td>
            <td><%= tool.in_stock %></td>
          </tr>
    <% end %>
  </tbody>
</table>
