<div id = "user-div" class = "container-fluid">
  <h2 class = "text-center">Welcome back <%= @user.name %>!</h2>
</div>

<div id = "weather" class = "container-fluid">
  <h2 class = "text-center">I'm weather!</h2>
</div>

<div id = "my-tools" class = "container-fluid">
  <h2 class = "text-center">Tools</h2>
</div>

<div id = "calendar" class = "container-fluid">
</div>


<div id = "blog" class = "container-fluid centered">
  <h2 class = "text-center">News</h2>
</div>
