/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
 }

 .page-title {
   margin-top: 90px;
 }

.cal-button {
  color: grey;
  background-color: #99DDC8;
  border: none;
}
.month {
  color: #99DDC8;
  display: inline-block;
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;

}
#calendar {
  background-color: whitesmoke;
}

#a-row th {
  width: 100px;
  background-color: dimgrey;
  text-align: center;
  color:#99DDC8;
  padding: 0;
  /*font-family: 'Rajdhani';*/
  font-spacing: .25px;
  font-weight: normal;
}

.post-link {
  color: dimgrey;
}

.post-link:hover {
  text-decoration: none;
  color: #F4743B;
}
#a-row td {
  height: 100px;
}

.event {
  color: dimgrey;
  /*list-style: none;*/
  font-weight: bold;
}

.event:hover {
  text-decoration: none;
  color: #99DDC8;
  padding: none;
}
.a-list {
  list-style: none;
}
.a-list li {
  margin-left: -35px;
  text-align: center;

}

.top-thing {
  background-color: dimgrey;
}
.a-day {
  display: inline-block;
}

.pg-title {
  margin-top: 88px;
}
.ev-div {
  background: #99DDC8;
  /*background: lightgrey;*/
  border-radius: 50px;
  padding: 20px;
  height: 800px;
  border: 15px solid white;
  /*margin: 40px;*/

}

/*.row td {
  width: 15px;
}*/
.navbar {
  background: #99D12A;
  height: 70px;
}

.navbar h1 {
  display: inline-block;
  margin: 0;
}

#content {
  margin-top: 70px;
}

#footer {
  background: #99D12A;
  height: 30px;
  padding-top: 5px;
}


.show-image {
  width: 50px;
  height: 50px;
}



#login, #logout {
  width: 110px;
  background: white;
  /*background: #F2F2F2;*/
  display: inline-block;
  margin: 0;
  height: 70px;
  /*float: right;*/
  position: relative;
  z-index: 6;
  padding-left: 3px;
  padding-right: 3px;
}

#login, #logout h2 {
  /*color: white;*/
  text-decoration: none;
  text-align: center;
}

.log {
  color: #99D12A;
  text-decoration: none;
}

.log:hover {
  color: lightgrey;
  text-decoration: none;
}


.float {
  float: right;
  padding: 0px;
  margin: 0px;
}

.tool-stuff {
  font-size: 1.6em;
}

#menu {
  width: 100px;
  display: inline-block;
  margin: 0;
  height: 70px;
  float: right;
  background: silver;
  background: white;
  color: #99D12A;
  position: relative;
  z-index: 5;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  margin-left: 2px;
}

#user-div {
  /*background: #B5DB67;*/
  /*background: #99D12A;*/
  background: dimgrey;
  color: white;
  padding: 0;
}

.white {
  color: white;
}
.green {
  color: #99D12A;
}
.weather-stuff {
  font-size: 2em;
}
.tools {
  background: dimgrey;
  border-left: 5px solid grey;
}

.welcome h2 {
  margin-top: 40px;
}
.welcome {
  /*background: #545454;*/
  background: dimgrey;
}
.fill {
  height: 100%;
}
#dropdown {
  /*margin-top:-10px;*/
  /*position: absolute;*/
  /*display: none;*/
  background: #99D12A;
  /*float: right;*/
  /*margin-right: -100px;*/
  /*display: none;*/
  /*margin-top :-130px;*/
  /*z-index: -1;*/
  position: relative;
  margin-top: -170px;
  z-index: 1;
  padding:2px;
  color :white;
  padding-left: 25px;
}

#dropdown h4 a {
  color: white;
}

#dropdown h4 a:hover {
  color: dimgrey;
  text-decoration: none;
}

.open {

}


#peapod {
  margin-top: -27px;
  width: 58px;
  height: auto;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}


.vida {
  font-family: 'Rajdhani', sans-serif;
}

.navbar h1 {
  margin: 5px;
  color: white;
  margin-left: 0px;
  font-size: 4em;
}

.tool-name {
  font-size: 1.6em;
}

.return-button {
  border-radius: 15px;
  background: #FC440F;
  background: #F4743B;
  border-style: none;
  color: dimgrey;
}

.return-button:hover,.rent-button:hover {
  color: dimgrey;
}
#read-more {
  color: #99D12A;
  background: white;

}

#read-more:hover {
  background: #BEEE62;
}

.light-border {
  border-style: 2px solid white;
  height: 250px;
}
.rent-button {
  border-radius: 15px;
  border-style: none;
  background: #2E86AB;
  background: #0E34A0;
  background: #99DDC8;
  color: dimgrey;
}

.grey {
  color: dimgrey;
}

.blue {
  color: #0E34A0;
  color: #99DDC8;
}

.post-box {
  /*background: #99DDC8;*/
  margin-bottom: 10px;
  border: 3px solid whitesmoke;

}

.orange {
  color: #FC440F;
  color: #F4743B;
  font-style: bold;
  margin-top: 100px;
}

.next-icons {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 20px;
}

#right {
  float: right;
}


.grey-back {
  background: dimgrey;
}
.a-post {
  background: rgba(255,255,255,0.8);
  border: 15px solid #99DDC8;
  border-radius: 35px;
  margin-bottom: 20px;

}

.next-page {
  float: right;
}

#blog {
  background: #99DDC8;
}
#weather {
  background: #503D42;
  /*background: #2E86AB;*/
  background: #C4444D;
  background: #0E34A0;
  background: #99DDC8;
  padding: 0;
  background: white;

}

.postdate {
  background: #99DDC8;
  padding: 5px;
}
.title {
  /*background: #99DDC8;*/
  padding: 1px;
  background: white;
}

.bold {
  font-weight: bold;
  color: #99DDC8;
}
.full-post {
  padding: 5px;
  background: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.content {
  background: white;
  padding: 5px 10px 0px 10px;
}
.author {
  background: whitesmoke;
  padding: 2px;
}
#disqus_thread {
  padding:15px;
}
#white-text {
  color: white;
}

.date-box {

}

.transparent {
  background: rgba(255, 255, 255, 0.8);
  height: 350px;
}
#pic {
  background-image: url('patch.jpg');
  /*width: 50%;*/
  /*height: 300px;*/
  background-size: 100%;
  padding: 0;
  text-align: right;
  height: 350px;

}

.seattle {
  background-image: url('seattle.jpg');
  height: 300px;
  background-size: 150%;
}
#my-tools {
  background: dimgrey;
}
